body {
    background: rgb(48, 60, 161);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(41, 184, 209);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 30px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.CSound {
    margin: 0px;
     margin-left: 10px;
     margin-right: 25px;
}
.nav-li {
    display: inline-block;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #fff;
    font-size:x-large
}

/* main container area beneath menu */
main {
    background: rgb(197, 247, 255);
    display: flex;
    border: 8px rgb(226, 214, 49);
    border-radius: 30px;
    border-style:double
}
.sidebar {
    margin-right: 20px;
    padding: 25px;
}
.sidebar-img {
    width: 500px;
    height: 500px;
    border: 10px rgb(226, 214, 49) dashed;
   
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 8px rgba(0, 0, 0, 0) dashed;
    padding: 8px;
    border-radius: 30px;
}
.nav-li2 {
    display: inline-block;
    margin: 5 auto;
   margin-bottom: 10px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}
h2, h3 {
    margin: 0px;
}
.content h1 {
    color: rgb(41, 184, 209);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: rgb(41, 184, 209);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #052a87a7;
}

#portfolio a {
    text-decoration: none;
    color: #ffffff;
}