
body {
      height: 100vh;
			background-size: 2000px 1000px;
			background-repeat: no-repeat;
      background-image: url(NintendoArt.png);
  /*background-color: darkgreen*/
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: rgb(255, 255, 255);
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: rgb(182, 40, 21);
  z-index: 1;
}